@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@theme {
    --font-family-sans: 'Outfit', sans-serif;
}

